phone-app/.classpath
phone-app/.project
phone-app/.settings
phone-app/bin/*

model/.classpath
model/.project
model/.settings
model/bin/*
web-app/SOC-web-app.tmproj

*~
*.*~
web-app/cake/app/tmp
web-app/cake/app/webroot/js-app/resources/sass/.sass-cache
web-app/cake/.idea/workspace.xml
.DS_Store
.project
.metadata
.livereload