<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

	android:versionCode="2" android:versionName="0.2" package="org.peoples.android">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	

	<application android:icon="@drawable/icon" 
				android:label="@string/app_name" 
				android:debuggable="true"
				android:screenOrientation="portrait"
				android:configChanges="keyboardHidden|orientation">
		<receiver android:label="BootIntentReceiver" android:name="BootIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:label="SurveyScheduler" android:name=".survey.SurveyScheduler"></service>
		<service android:name=".survey.SurveyService" android:label="SurveyService">
			<intent-filter>
				<action android:name="org.peoples.android.survey.ACTION_SHOW_SURVEY" />
				<action android:name="org.peoples.android.survey.ACTION_NEXT_QUESTION" />
				<action android:name="org.peoples.android.survey.ACTION_PREV_QUESTION" />
				<action android:name="org.peoples.android.survey.ACTION_SUBMIT_ANSWERS" />
			</intent-filter>
		</service>
		<activity android:label="QuesitonActivity" android:name=".survey.QuestionActivity"></activity>
		<activity android:label="ConfirmSubmitActivity" android:name=".survey.ConfirmSubmitActivity"></activity>
		<activity android:label="MainActivity" android:name="MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
</manifest>