/*****************************************
 * peoples.css - default CSS for PEOPLES *
 *****************************************/
body
{
	
}
form div
{
	display: block;
	padding: 0;
	margin: 0;
}
#header h3
{
	display: inline;
}
#header h3 a
{
	text-decoration: none;
	color: black;
}
#header h3 a:hover
{
	color: blue;
}
#menubar a,div
{
	padding: 5px;
	display: inline;
}
#main
{
	
}
#footer
{
	
}
table
{
  border-collapse: collapse;
}

th
{
  background-color: #00A300;
  color: #ffffff;
  text-align:left;
}

tr
{
  background-color: #D4FFA8;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
td
{
  text-align:left;
}